.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img{width:"90px"}

.nav-login-cart button{
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid grey;
  border-radius: 75px;
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}
.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button:active{
  background: rgb(212, 212, 212) ;
}
.nav-cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  margin-left: -55px;
  border-radius: 20px;
  font-size: 14px;
  background:red;
  color:white;
}
